/*
*Blue background color for navbar*
nav.navbar
{
background-color: rgb(55, 95, 130);
position: fixed;
width: 100%;
top: 0;
margin-left: auto;
margin-right: auto;
}

* Styles for links in navbar *
nav.navbar a
{
display: inline-block;
text-align: center;
color: gold;
padding: 10px 10px;
font-size: 18px;
text-decoration: none;
position: relative;
float: left;
}
*/

nav.navbar
{
    position: fixed;
    margin: 0;
    padding: 0;

    height: 100%;
    width: 225px;

    overflow: auto;
    background-color: rgb(55, 95, 130);
}

nav.navbar a
{
    display: block;
    color: gold;
    padding: 8px 16px;
    text-decoration: none;
    float: none;
}

/* Marks current page with different color + underline */
nav.navbar a.active
{
    background-color: steelblue;
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

/* Marks page hovered with mouse */
nav.navbar a:hover
{
    background-color: rgb(29, 78, 169);
    text-decoration: underline;
}

/* Styling for responsive page icon */
nav.navbar a.icon
{
    display: none;
    position: fixed;

    text-decoration: none;

    background-color: rgb(55, 95, 130);

    border-left: rgb(38, 65, 89) solid 5px;
    border-bottom: rgb(38, 65, 89) solid 5px;
    
    font-weight: bolder;
    float: right;
    padding: 8px;
    font-size: 24px;
}

/* Applies to mobile links:
When screen size < 600px, hide all links except "Home" and expand icon
*/
@media screen and (max-width: 600px)
{
    /* Applies to mobile navbar when not clicked */
    nav.navbar
    {
        top: 0;
        position: fixed;

        height: auto;
        width: 100%;
    }
    nav.navbar a:not(:first-child)
    {
        display: none;
    }
    nav.navbar a.active
    {
        background-color: rgb(55, 95, 130);
        text-decoration: none;

        display: block;
        color: gold;
    }
    nav.navbar a.icon
    {
        display: inline-block;
        position: fixed;

        right: 0;
        top: 0;

        text-align: center;

        height: auto;
        width: auto;
    }

    /* Applies to responsive navbar when clicked */
    nav.navbar.responsive a.icon 
    {
        background-color: steelblue;
    }
    nav.navbar.responsive a 
    {
        float: none;
        display: block;
        text-align: left;
        /*margin-left: 45px;*/
        margin-left: 0;
    }
    nav.navbar.responsive a:hover
    {
        margin-left: 12px;
        margin-top: 0;
    }
    nav.navbar.responsive a.active
    {
        /* Different from non-responsive (aka unclicked)! */
        background-color: steelblue;
        text-decoration: underline;
        font-weight: bold;
        color: white;
    }
}
