html
{
    font-family: "Noto Serif", serif;
    background: steelblue;
    overflow: scroll;
}

body
{
    font-size: 100%;
}

div.main
{
    padding: 16px 32px 16px 32px;
    width: 80%;
    height: 20%;
    margin-right: auto;
    margin-left: auto;
    background-color: lightblue;
    background: white;
}

footer
{
    padding-bottom: 20px;
}

/*
h1
{
    font-size: 8vw;
}

h3
{
    font-size: 6vw;
}

p, li
{
    font-size: 4.5vw;
}
*/

header.name h1, header.name p
{
    text-align: center
}

h2
{
    text-decoration: underline;
    margin-left: 20px;
}

/*
header.name p
{
    margin-left: 15px;
}
*/

img.profile {
    display: block;
    float: right;
    margin: 15px 15px 15px 15px;
    border: solid 8px;
    border-color: rgb(55, 95, 130);
    border-radius: 100%;
    max-width: 100%;
    height: 200px;
}

div.name {
    text-align: left;
}


/*CSS for navbar moved to different file*/


/*The bottom bar is aligned differently from other elements*/

footer.bottom_bar
{
    text-align: center;
}

/*Dividing lines - sub-lines are overridden by CSS after*/
hr
{
    border-width: 4px;
}
hr.sub
{
    border-width: 1px;
    margin-left: 20px;
    margin-right: 20px;
}

/*Change list icon to square, from standard circle*/
li
{
    list-style-type: square
}

div.main
{
    margin-top: 20px;
}

/*TEST: responsive screen center if screen < 600px*/
@media screen and (max-width: 600px)
{
    div.main
    {
        margin-top: 40px;
    }
    
    img.profile
    {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    header.name
    {
        display: none;
    }
}