/*Blue background color for navbar*/
nav.navbar
{
    background-color: steelblue;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 0;
}

/* Styles for links in navbar */
nav.navbar a
{
    display: block;
    text-align: center;
    color: white;
    padding: 10px 10px;
    font-size: 18px;
    text-decoration: none;
    float: left;
    position: relative;
}

/* Marks current page with different color + underline */
nav.navbar a.active
{
    background-color: rgb(55, 95, 130);
    text-decoration: none;
    font-weight: bold;
}

/* Marks page hovered with mouse */
nav.navbar a:hover
{
    background-color: rgb(29, 78, 169);
    text-decoration: underline;
}

/* Styling for responsive page icon */
nav.navbar a.icon
{
    display: none;
    text-decoration: none;
    height: auto;
    position: fixed;
    float: left;
    border-left: rgb(38, 65, 89) solid 5px;
    border-bottom: rgb(38, 65, 89) solid 5px;
}

/* Applies to mobile links:
When screen size < 600px, hide all links except "Home" and expand icon
*/
@media screen and (max-width: 600px)
{
    nav.navbar
    {
        top: 0;
        position: fixed;
        width: 100%;
    }
    nav.navbar a:not(:first-child)
    {
        display: none;
    }
    nav.navbar a.icon
    {
        display: inline-block;
        right: 0;
        top: 0;
        background-color: steelblue;
    }
}

/* Makes navbar 'responsive' with JavaScript
When screen size < 600px, clicking icon shows nav
*/
@media screen and (max-width: 600px)
{
    nav.navbar.responsive 
    {
        position: fixed;
    }
    nav.navbar.responsive a.icon 
    {
        position: fixed;
        float: right;
        background-color: rgb(55, 95, 130);
        width: auto;

    }
    nav.navbar.responsive a 
    {
        float: none;
        display: block;
        text-align: left;
        /*margin-left: 45px;*/
    }
}
