/* Navbar for navigating through various anchors */
nav.navbar
{
    overflow: hidden;
    position: relative;
    top: 0;
    width: auto;
    padding: 0;
}

nav.navbar ul {
    list-style-type: none;
    overflow: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: steelblue;
    color: white;
}
nav.navbar ul li {
    display: inline;
    text-align: center;
    float: left;
    font-size: 16px;
    border-right: 1px solid white;
}

a.navbar
{
display: block;
padding: 8px;
background-color: steelblue;
}

nav.navbar ul li a {
    display: inline-block;
    color: white;
    padding: 6px;
    text-decoration: none;
    text-align: right;
}

nav.navbar ul li a:hover {
    background-color: rgb(29, 78, 169);
    text-decoration: underline;
}

nav.navbar ul li a.active {
    background-color: rgb(55, 95, 130);
}