@media screen
{
    .no-print
    {
        display: inline;
    }
    
    .print-only
    {
        display: none;
    }
}

@media print
{    
    html
    {
        line-height: 16px;
        font-family: "Open Sans", sans-serif;
    }
    div nav.navbar
    {
        display: none; /* !important;*/
    }
    
    header.name, article, p
    {
        margin: 0;
        padding: 0;
        overflow:hidden !important;
    }
    
    article.achievements ul
    {
        margin: 0;
        list-style-type: square;
    }
    
    header.name p.links, hr.sub
    {
        display: none;
    }
    
    header.name h1
    {
        font-size: 16px;
    }
    
    header.name
    {
        text-align: center;
    }
    
    h1, h2, h3, h4, h5, h6, section, p
    {
        font-size: 13px;
        padding: 0;
    }
    
    section h3
    {
        text-decoration: underline;
    }
    
    hr
    {
        border-width: 1px;
    }
    
    hr.sub
    {
        margin-left: 40px;
        margin-right: 40px;
    }
    
    footer
    {
        display: none;
    }
    
    .no-print
    {
        display: none;
    }
    
    .print-only
    {
        display: inline;
    }
}